@charset "utf-8";


// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,800&display=swap');
// Set your brand colors
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$white: #fff;
$darkgrey: #4a4a4a;
$primary: #0072ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($primary, $primary-invert),
    "twitter": ($twitter, $twitter-invert),
);

// Update Bulma's global variables
$family-primary: 'Roboto',Helvetica, Arial, sans-serif;
$font-heading: 'Raleway', $family-primary;
$font-heading-two: 'Open Sans', $family-primary;
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$card-content-padding: .9rem;
$notification-padding: 1rem;


// Update some of Bulma's component variables

// $footer-background-color: $darkgrey;
// $radius-large: 2px;
// $card-content-padding: 1rem;
// $footer-background-color: #333;

// @import '../../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../../node_modules/bulma/sass/base/_all.sass';
// @import '../../../node_modules/bulma/sass/components/_all.sass';
// @import '../../../node_modules/bulma/sass/elements/_all.sass';
// @import '../../../node_modules/bulma/sass/components/_all.sass';
// @import '../../../node_modules/bulma/sass/layout/_all.sass';

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";


