@charset "utf-8";


// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

// Set your brand colors
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$grey-light: $beige-light;
$darkgrey: #4a4a4a;
$primary: #0072ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($primary, $primary-invert),
    "twitter": ($twitter, $twitter-invert),
);

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$font-heading: 'Raleway';
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// Update some of Bulma's component variables

$navbar-item-img-max-height: 4rem;
$navbar-dropdown-item-hover-color: $link;
// $navbar-dropdown-border-top: 2px solid $link;
// $navbar-dropdown-arrow: $primary;
$navbar-item-color: $darkgrey;
$navbar-dropdown-border-top: 2px solid $link;
// $radius-large: 2px;
// $card-content-padding: 1rem;
// $footer-background-color: #333;

// @import '../../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../../node_modules/bulma/sass/base/_all.sass';
// @import '../../../node_modules/bulma/sass/components/_all.sass';
// @import '../../../node_modules/bulma/sass/elements/_all.sass';
// @import '../../../node_modules/bulma/sass/components/_all.sass';
// @import '../../../node_modules/bulma/sass/layout/_all.sass';

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";


